* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: bold;
}

dialog {
    z-index: 2;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 350px;
    padding: 10px;
    min-height: 150px;
    position: absolute;
    top: 50lvh;
    left: 50lvw;
    transform: translate(-50%, -150%);
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
}

dialog, .header, .about, .content, .gameboard>*, .sidebar, .scoreboard, #playercreation, .buttons, .actions, .playerone, .playertwo {
    display: flex;
}

.players, .gameboard, .turn-order, .sign {
    display: grid;
}

.content, .sidebar, #playercreation, .scoreboard, dialog{
    flex-direction: column;
}

.header {
    background-color: rgb(240, 240, 240);
    justify-content: space-between;
    flex: 1;
    padding: 15px;
}

.logo {
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.hidden {
    display: none;
}

.about {
    gap: 15px;
}

.content {
    position: relative;
    height: 80vh;
    align-items: center;
    justify-content: space-around;
}

.errordiv {
    font-size: 18px;
    margin-left: 10px;
}

.modal-close {
    position: absolute;
    right: 3%;
    top: 7%;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    border: none;
    height: 30px;
    width: 30px;
}

.modal-close:hover {
    background-color: rgb(226, 226, 226);
}

.sidebar {
    align-items: center;
    gap: 20px;
}

.actions {
    gap: 10px;
}

#playercreation {
    gap: 15px;
}

input {
    padding: 3px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid black;
}

.sign {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}

.buttons {
    gap: 30px;
    justify-content: center;
}

#O {
    margin-left: 20px;
}

.actions>button, .playagain, .createplayer, .finished, .cancel {
    border: none;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px 15px;
    color: white;
    font-size: 12px;
}

.scoreboard {
    flex-direction: column;
    gap: 15px;
    font-size: 18px;
}

.players {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.players > * {
    font-size: 18px;
}

.playerone, .playertwo {
    gap: 10px;
}

.turn-order {
    grid-column: 1 / span 2;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(145, 145, 145);
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
}

.gameboard {
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    row-gap: 5px;
    column-gap: 5px;
    background-color: rgb(255, 255, 255);
}

.gameboard>* {
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    font-size: 80px;
    justify-content: center;
    align-items: center;
} 

.actions>button {
    background-color: gray;
}

.playagain, .createplayer {
    background-color: rgb(42, 138, 42);
}

.finished, .cancel {
    background-color: red;
}

