* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 2px;
    column-gap: 2px;
    background-color: black;
}

.gameboard * {
    height: 75px;
    background-color: white;
} 